@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    padding: 1rem;
}
.pricing-card-container {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
.pricing-cards {
    display: flex;
    flex-wrap: wrap;
}
.pricingCard {
    flex: 1;
    transition: all .3s ease-out;
    background-color: white;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.pricingCard:hover {
    transform: scale(1.1);
}
.pricingCard-title {
    text-align: center;
}
.pricingCard-pricing {
    text-align: center;
}
.price {
    font-size:  3rem;
    font-weight: 600;
}
.pricingCard-basket {
    display: block;
    background-color: #491bd5;
    text-align: center;
    color: #fff;
    padding: 1rem;
    border-radius: 100px;
    font-weight: 600;
    margin: 1rem;
    text-decoration: none;
}
.pricingCard-refresh {
    text-align: center;
    color: #999;
}
.pricingCard-properties {
    padding: 1rem 0;
}

.pricingCard-all-properties {
    text-align: center;
}
.pricingCard-all-properties a {
    color:  #491bd5;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}
.pricingCard-all-properties a:hover {
    color: #54595F;
}